body {
	 margin:0px;
	 font-family: Arial;
	 font-variant: small-caps;
	 text-align: center;
}


.Spacer-Div-H15p {
	height:15px;
}

.Spacer-Div-H25p {
	height:25px;
}

.Spacer-Div-H50p {
	height:50px;
}

.Spacer-Div-H60p {
	height:60px;
}

.Spacer-Div-H100p {
	height:100px; 
}
.Spacer-Div-H100p-00AAA0 {
	height:100px; 
	background-color:#00AAA0; 
}

.Spacer-Div-H170p-00AAA0 {
	height:170px; 
	background-color:#00AAA0; 
}

.Spacer-Icon img{
	margin:auto; 
	height:50px; 
	width:50px;
}

.Spacer-Icon-LeftWing {
	transform:scaleX(-1); 
	filter:FlipH; 
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #333333;
}
ul {
	list-style-type: none; 
	overflow: hidden; 
}
li {
	float: left;
}
li a {
	display: block;
}

.alert-none {
	display: none;
}
.alert-error {
	color: red;
}
.alert-success {
	color: green;
}

input[type=text], textarea {
	display: block;
	width: 95%;
	border: none;
	border-top: 1px solid #F1F1F1;
	font-size: 20px;
	padding: 10px;
	margin: auto;
}
input[type=text]:focus, textarea:focus {
	border: 2px solid #777777;
}
input[type=submit] {
	-webkit-appearance: none; /* safari */
	background-color: #00AAA0;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px 4px 2px;
	cursor: pointer;
	border-radius: 2px;
	width: 93%;
}
input[type=submit]:hover {
	background-color: #009990;
}

.footer img{
	height: 30px;
	width: 30px;
	margin: 0px 10px 20px 10px;
}