/***************/
/****Overall****/
/***************/
body {
	 margin:0px;
	 font-family: Arial;
	 font-variant: small-caps;
	 text-align: center;
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #333333;
}

ul {
	list-style-type: none; 
	overflow: hidden; 
}
li {
	float: left;
}
li a {
	display: block;
}

.Spacer-Div-H15p {
	height:15px;
}

.Spacer-Div-H25p {
	height:25px;
}

.Spacer-Div-H25p-00AAA0 {
	height:25px; 
	background-color:#00AAA0; 
}

.Spacer-Div-H50p {
	height:50px;
}

.Spacer-Div-H50p-00AAA0 {
	height:50px; 
	background-color:#00AAA0; 
	margin-top: -1px;
}

.Spacer-Div-H60p {
	height:60px;
}

.Spacer-Div-H100p {
	height:100px; 
}

.Spacer-Div-H100p-00AAA0 {
	height:100px; 
	background-color:#00AAA0; 
	margin-top: -1px;
}

.Spacer-Div-H120p {
	height:120px; 
}

.Spacer-Div-H150p {
	height:150px; 
}

.Spacer-Div-H170p {
	height:170px; 
}

.Spacer-Div-H170p-00AAA0 {
	height:170px; 
	background-color:#00AAA0; 
}

.Spacer-Line-H1p {
	margin-top: 15px;
	margin-bottom: 15px;
	height:1px;
	background-color: #808080;
}

.Spacer-Icon img{
	margin:auto; 
	height:50px; 
	width:50px;
}

.Spacer-Icon-LeftWing {
	transform: scaleX(-1); 
}

/**************/
/****NavBar****/
/**************/
.NavBar {
	position:fixed; 
	overflow:hidden; 
	z-index:9; 
	margin-top:0px; 
	height:170px; 
	width:100%; 
	background-color:#333333;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.NavBar-Smaller {
	position:fixed; 
	overflow:hidden; 
	z-index:9; 
	margin-top:0px; 
	height:100px; 
	width:100%; 
	background-color:#333333;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.NavBar-ContentWraper {
	position:relative;
	overflow:hidden;
	height:100%;
	width:85%;
	margin:auto;
}

/****slogan****/
.NavBar-ContentWraper-SloganWraper {
	float:left; 
	height:100%; 
	display:table;
}

.NavBar-ContentWraper-SloganWraper a{
	display:table-cell; 
	vertical-align:middle; 
	text-decoration: none;
}

.NavBar-ContentWraper-SloganWraper h1 {
	color:#FFFFFF;
}

/****quick link****/
.NavBar-ContentWraper-QuicklinkWraper {
	float:right; 
	height:100%; 
	display:table;
}

.NavBar-ContentWraper-QuicklinkWraper div {
	display:table-cell; 
	vertical-align:middle;
}

.NavBar-ContentWraper-QuicklinkWraper ul {
	float: left; 
	list-style-type: none; 
	overflow: hidden; 
	font-size: 20px; 
	margin:0px auto;
}

.NavBar-ContentWraper-QuicklinkWraper ul li {
	float: left;
}

.NavBar-ContentWraper-QuicklinkWraper ul li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 16px;
}

.NavBar-ContentWraper-QuicklinkWraper ul li a:hover {
	background-color: #111111;
	color: #FFFFFF;
}


/******************/
/****WelcomeDiv****/
/******************/
.WelcomeDiv {
	background-color:#00AAA0;
	color:#FFFFFF;
	position:relative;
	overflow:hidden;
}

.WelcomeDiv-PortraitWraper img{
	margin:auto; 
	width:80%; 
	max-height:400px; 
	max-width:400px; 
}

.WelcomeDiv h1{
	display:inline-block; 
	color:#FFFFFF; 
	height:40px; 
	vertical-align:middle; 
	padding: 10px;
}

.WelcomeDiv h2{
	margin: 0px;
}
 
.WelcomeDiv p {
	display:table-cell;
	padding:5px 5px;
}
 
.H1-English{
	font-size: 2em; 
}

.H1-Chinese{
	font-size: 1.6em; 
}

.WelcomeDiv-QuicklinkWraper {
	display:table; 
	width:90%; 
	max-width: 500px; 
	margin:auto;
}


/*******************/
/****ProjectsDiv****/
/*******************/
.ProjectsDiv {
	background-color:#FFFFFF; 
	margin:0px; 
	position:relative; 
	overflow:hidden;
}

.ProjectsDiv h1 {
	color:#333333;
}

.ProjectsDiv-ProjectsWraper {
	width:80%; 
	max-width: 750px;
	min-width: 750px;
	margin:auto;
}

.ProjectsDiv-ProjectsWraper-Project {
	display: inline-block;
	vertical-align: top;
	width: 80%;
	max-width:226px;
	margin: 20px 10px 10px 10px;
	overflow: hidden;	
	border: 1px hidden #e1e1e1;
	border-radius: 40px;
}

.ProjectsDiv-ProjectsWraper-Project:hover {
	margin: 19px 9px 7px 9px;
	border-style: solid;
	border-color: #5F5F5F;
	border-bottom-width: 3px;
}

.borderClass {
	margin: 19px 9px 7px 9px;
	border-style:solid;
	border-bottom: 3px solid #e1e1e1;
}

.ProjectsDiv-ProjectsWraper-Project img {
	height: 100%;
	max-height: 200px; 
	width: 100%;
	max-width: 200px;
	margin: 13px 13px 13px 13px;
}

.ProjectsDiv-ProjectsWraper-Project img:hover {
	height: 100%;
	max-height: 226px; 
	width: 100%;
	transition-duration: 0.2s;
	max-width: 226px;
	margin: 0px;
}

.ProjectsDiv-ProjectsWraper-Project-Name {
	padding: 0px 20px;
	color: #333333;
}

.Project-Pointer {
	padding: 0px;
	margin: auto;
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid #F1F1F1;
	display: none;
}

.ProjectsDiv-Project-Description-Wraper {
	display: block;
}

.ProjectsDiv-Project-Description {
	background-color: #F1F1F1;
	display: none;
	left: 0px;
	right: 0px;
	padding: 15px;
}

.ProjectsDiv-Project-Description-Title {
	line-height: 3em; 
	font-weight: bold;
	margin: 0px;
}

.ProjectsDiv-Project-Description h3 {
	font-size: 1.3em;
	padding: 0px;
}

.ProjectsDiv-Project-Description p {
	font-variant: normal;
}

.ProjectsDiv-Project-Description a {
	color: #333333;
	display: block;
	border: 1px solid #333333;
	width: 450px;
	margin: auto;
}

.ProjectsDiv-Project-Description a:hover {
	color: #FFFFFF;
	background-color: #333333;
}

#Project-Description-group-1 {
	background-color: #F1F1F1;
	display: none;
	left: 0px;
	right: 0px;
	padding: 15px;
}

#Project-Description-group-2 {
	background-color: #F1F1F1;
	display: none;
	left: 0px;
	right: 0px;
	padding: 15px;
}

/**************/
/****BioDiv****/
/**************/
.BioDiv {
	background-color:#00AAA0;
	margin:0px;
	position:relative;
	overflow:hidden;
}

.BioDiv ul li{
	padding: 10px 20px;
	margin: 10px 0px;
}

.BioDiv h1 {
	color:#FFFFFF;
}

.Bio-Content {
	display: block;
	position: relative;
	font-variant: normal;
	text-align: left;
	min-height: 500px; 
	max-width: 750px; 
	min-width: 750px;
	background-color: #F7F7F9; 
	margin:auto; 
	border-radius: 20px; 
}

.Bio-Content ul{
	width: 67%;
	margin: auto;
	padding: 0px;
}

.Bio-Content-Banner {
	display: block;
}

.Bio-Content-Banner-ImgWraper {
	display:inline-block; 
	width: 150px; 
	vertical-align:top;
	margin-left: 20%;
}

.Bio-Content-Banner-ImgWraper img {
	width:100%; 
	border-radius:50%;
}

.Bio-Content-Banner-TextWraper {
	display:inline-block; 
	vertical-align:top;
	padding-left: 50px;
	padding-top: 15px;
}

.Bio-Content-Banner-TextWraper p {
	font-size: 0.8em;
	display: block;
}

.Bio-Content-Banner-TextWraper-Location {
	display: block;
}

.Bio-Content-Banner-TextWraper-Location img {
	display: inline-block;
	height: 15px;
}

.Bio-Content-Banner-TextWraper-Location p {
	display: inline-block;
	color: #5B6A6B;
}

.Bio-Content-Detail {
	width: 80%;
	margin: auto;
}

.Bio-Content-DetailDiv{
	display: none;
	line-height: 30px;
}

.Bio-Content-DetailDiv-p1 {
	vertical-align: top;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

.Bio-Content-DetailDiv-p2 {
	vertical-align: top;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.Bio-Content-DetailDiv-p3 {
	vertical-align: top;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float:right; 
	font-size: 0.8em;
}

.Bio-Content-DetailDiv-p4 {
	vertical-align: top;
	display: inline-block;
	margin: 0px;
	padding: 0px 5px;
	font-size: 1em;
	font-style: italic;
}

.Bio-Content-DetailDiv-p5 {
	padding: 0px;
	margin: 0px;
	font-size: 0.9em;
}

/*******************/
/****ContactsDiv****/
/*******************/
.ContactsDiv {
	background-color:#FFFFFF;
	margin:0px; 
	position:relative;
	overflow:hidden;
}

.ContactsDiv h1 {
	color:#333333;
}

.alert-none {
	display: none;
}
.alert-error {
	color: red;
}
.alert-success {
	color: green;
}

.ContactsDiv form {
	width:80%;
	max-width:500px;
	margin:auto; 
	overflow:hidden;
}

input[type=text], textarea {
	display: block;
	width: 95%;
	border: none;
	border-top: 1px solid #F1F1F1;
	font-size: 20px;
	padding: 10px;
	margin: auto;
}
input[type=text]:focus, textarea:focus {
	border: 2px solid #777777;
}
input[type=submit] {
	-webkit-appearance: none; /* safari */
	background-color: #00AAA0;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px 4px 2px;
	cursor: pointer;
	border-radius: 2px;
	width: 93%;
}
input[type=submit]:hover {
	background-color: #009990;
}

#echoBack {
	display: none;
}

/**************/
/****Footer****/
/**************/
.Footer {
	background-color:#232F3E;
	min-height:200px;
	color:#FFFFFF;
}

.Footer-ContentWraper {
	display:inline-block; 
	width:80%;
	max-width:270px;
	vertical-align:top;
	margin-left:10%;
	margin-right:10%;
}

.Footer img{
	height: 30px;
	width: 30px;
	margin: 0px 10px 20px 10px;
}

.Footer h1 {
	color: #FFFFFF;
}

.Footer p {
	font-size: 10px;
}


/**************/
/*****404******/
/**************/
.Error404 {
	margin:0px; 
	position:relative;
	overflow:hidden;
	color: #000000;
}

.imprint {
	margin:0px; 
	position:relative;
	overflow:hidden;
	color: #000000;
}

.imprint a {
	color: #000000;
	font-weight: bold;
}